<style>
  /*.dates{
    border-left: 5px solid #4285F4;
  }*/  
  .moviename{
    background-color: #eb6a5a;
    color: #fff;
    font-weight: bold;
    padding: 10px;
  }
  .moviename .icon{
    margin-right: 10px;    
  }
</style>
<ion-view title="Select Date">
  <ion-nav-buttons side="right">
    <i class="icon ion-ios7-home" ng-click="goHome()"></i>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>
      <div class="item moviename">
        <i class="icon ion-film-marker"></i> 
        Movie: {{movie.name}}
      </div>      
      <ion-item class="dates" ng-repeat="date in dates" href="#/app/utheatres/{{cityId}}/{{movieId}}/{{date.date}}">
        <h2>{{formatDate(date.date)}}</h2>        
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>