<style>
  .item-text-wrap{
    font-size: 15px;
    color: gray;
  }
    .pane {
        background-color: #4285F4;
    }
    .bar-header{
      display: none;
    }
    .has-header{
      top: 35%;
    }
    .login{
      width: 90%;
      margin: 0 auto;
    }
    .city-center{
      display: block;
      text-align: center;
      font-weight: bold;
      color: #fff;      
    }
</style>
<ion-view title="Movies" ng-show="!error">
  <ion-content class="login" has-header="false">
      <div class="list">
        <div class="list-item">
          <a href="#/app/umovies/{{cityid}}" class="button button-light button-block">Buy Tickets</a>      
        </div>
        <div class="list-item">
          <a href="#/app/movies/{{cityid}}" class="button button-light button-block">Sell Tickets</a>
        </div>
        <a href="#/app/cities/change" class="city-center"><span ng-show="selectedCity!=''">{{selectedCity}} - </span>Change City</a>
      </div>      
  </ion-content>  
</ion-view>
<ion-view class="pane" ng-show="error">
</ion-view> 