<style>
  .item-text-wrap{
    font-size: 15px;
    color: gray;
  }
    .pane {
        background-color: #34495e;
    }
    .bar-header{
      display: none;
    }
    .login{
      width: 90%;
      margin: 0 auto;
    }
    .city-center{
      display: block;
      text-align: center;
      font-weight: bold;
      color: #fff;      
    }
  .logo i{
    font-size: 100px;
    color: #FFF;
    text-align: center;
    display: block;
    margin-top: 15px;
  }  
  .city-center i{
    vertical-align: middle;
    margin-right: 10px;
  }
</style>
<ion-view title="Movies" ng-show="!error">
  <ion-content class="login" has-header="false">
      <div class="list">
        <div class="logo">
          <i class="icon ion-loading-c"></i>
          <p class="city-center">Logging out</p>
        </div>
      </div>
  </ion-content> 
  <!-- <ion-footer-bar align-title="left" class="bar-positive" ng-show="isLogedin">
    <div class="buttons">
      <button class="button button-calm"><i class="icon ion-log-out"></i>Log Me out</button>
    </div>
    <h1 class="title"></h1>
    <div class="buttons" ng-click="doSomething()">
      <a href="#/app/mytickets" class="button button-calm"><i class="icon ion-ios7-pricetags"></i>My Tickets</a>
    </div>
  </ion-footer-bar>  -->
</ion-view>
<ion-view class="pane" ng-show="error">
</ion-view> 