<style>
  .item-text-wrap{
    font-size: 15px;
    color: gray;
  }
  .pane {
        background: url(img/nomovies.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }
</style>
<ion-view title="Movies" ng-show="!error">
  <ion-content class="has-header">
    <div class="list">
        <a ng-repeat="movie in movies" class="item item-thumbnail-left" href="#/app/theatres/{{cityId}}/{{movie.id}}">
          <h2>{{movie.name}}</h2>
          <span class="item-text-wrap">There are 45 tickets available for this movie in your city. Go grab them</span>
        </a>
    </div>  
  </ion-content>  
</ion-view>
<ion-view class="pane" ng-show="error">
</ion-view> 