<ion-view title="Cities">
  <ion-content class="has-header">
    <div class="buttonbar">
      <button class="button buttob-positive"><i class="icon ion-person"></i></button>
      <button class="button buttob-positive"><i class="icon ion-person"></i></button>
    </div>
    <div class="buttonbar">
      <button class="button buttob-positive"><i class="icon ion-person"></i></button>
      <button class="button buttob-positive"><i class="icon ion-person"></i></button>
    </div>
    <div class="buttonbar">
      <button class="button buttob-positive"><i class="icon ion-person"></i></button>
      <button class="button buttob-positive"><i class="icon ion-person"></i></button>
    </div>
  </ion-content>
</ion-view>
