<style>  
  .count{
    /*position: absolute;
    top: 28px;
    right: 16px;
    max-width: 40px;
    max-height: 40px;*/
    width: 100%;
    border-radius: 4px;
    font-size: 35px;
    color: white;
  }
  .item-avatar{
    padding-left: 10px;
    padding-right: 70px;
    border-left: 5px solid rgb(190, 70, 84);
    background-color: rgb(112, 54, 156);
  }
  .item-text-wrap{
    color: white;
  }
  .show-times{
    color: bisque;
  }
  .show-expand{
    margin: 5px;
    margin-top: -4px;
    background-color: #4285F4;
    color: white;   
  }
  .name-div{
    background-color: #4285F4;
  }
  .count-div{
    background-color: #31B8F6;
    text-align: center;
  }
  .item-show{
    padding: 0px;
  }
  .item{
    background-color: #E1E1E0;
    border-color: #D0CBCB;
  }

  .item.row{
    min-height: 75px;
  }
  .small{
    font-size: 12px;
    color: white;
  }
  .showtime{
    color: white;
  }
  .col-25{
    text-align: center;
    border-right:1px solid white;
    margin-right: 0px;
    cursor: pointer;
  }
  .avtar{
    padding-left: 72px;
    padding-right: 70px;    
  }
  .theatre{
    white-space: initial !important;
  }
</style>
<ion-view title="Select Date">
  <ion-nav-buttons side="right">
    <i class="icon ion-ios7-home" ng-click="goHome()"></i>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>      
      <div class="item item-avatar avtar" href="#">
        <img src="{{movie.imageurl}}">
        <h2>{{movie.name}}</h2>
        <p class="theatre">{{theatre.name}}, {{theatre.location}}</p>
      </div>      
      <a class="item item-show" ng-repeat="show in shows">
        <div class="row">
          <div class="col col-80 name-div">
            <span class="item-text-wrap">{{formatDate(show.date)}}</span><br>
            <!-- <span class="show-times" ng-repeat="show in theatre.shows">{{formatTime(show.showtime)}}&nbsp</span> -->
          </div>
          <div class="col col-20 count-div">
            <div class="small">Total</div>
            <div class="count">{{show.totalshows}}</div>
            <div class="small">shows</div>
          </div>                        
        </div>
        <div class="show-expand">
          <div class="list row">
            <div class="list-item col col-25" ng-repeat="show in show.shows" ng-click="addTickets(show.tmid,show.showtime)">
              <h2 class="showtime">{{show.showtime}}</h2>
              <!-- <span class="small">{{show.tickets}} tickets</span> -->
            </div>            
          </div>
        </div>        
      </a>      
    </ion-list>
  </ion-content>
</ion-view>


