<style>
  .ion-social-facebook,.ion-social-twitter{
    margin-right: 10px;
  }
  .logo i{
    font-size: 100px;
    color: #FFF;
    text-align: center;
    display: block;
    margin-top: 15px;
  }
  .pane{
    background-color: #34495e;
  }
  .item-stacked-label{
    background-color: #fff;
  }
  .list, .button-bar{
    margin: 5px;
    width: auto;
  }
  .button.button-positive{
    border-color: #4a87ee;
  }
  .loginbtn{
    padding: 0 10px;
  }
</style>
<ion-view title="Sign Up">
  <ion-nav-buttons side="right">
    <i class="icon ion-ios7-home" ng-click="goHome()"></i>
  </ion-nav-buttons>
  <ion-content>
    <div class="list">
      <div class="logo">
        <i class="icon ion-person"></i>
      </div>
    </div>
    <!-- <div class="list-group">
      <div class="item button button-block button-positive button-outline"><i class="icon ion-social-facebook"></i>Login with Facebook</div>
      <div class="item button button-block button-calm button-outline"><i class="icon ion-social-twitter"></i>Login with Twitter</div>
    </div> -->
    <div class="button-bar">
      <a class="button button-block button-outline button-light" href="#/app/login">Login</a>
      <a class="button button-block button-light">Sign up</a>
    </div>      
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Your Name</span>
        <input type="text" placeholder="Eg: John" ng-model="user.name">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Password</span>
        <input type="password" placeholder="Eg: T!ck@t" ng-model="user.password">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input type="email" placeholder="Eg: john@suhr.com" ng-model="user.email">
      </label> 
      <label class="item item-input item-stacked-label">
        <span class="input-label">Contact number</span>
        <input type="text" placeholder="Eg: 9958099580" ng-model="user.phone">
      </label> 
      <label class="item loginbtn">
        <button class="button button-block button-positive" ng-click="signup()">Sign up</button>
      </label> 
    </div>
  </ion-content>
</ion-view>

