<style>
  
</style>
<ion-view title="Theatres">
  <ion-nav-buttons side="right">
    <i class="icon ion-ios7-home" ng-click="goHome()"></i>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>
      <a class="item" ng-repeat="theatre in theatres" href="#/app/showtimes/{{cityId}}/{{movieId}}/{{theatre.id}}">
        <!-- <i class="icon ion-ios7-videocam-outline"></i> -->
        <h2>{{theatre.name}}</h2>
        <p>{{theatre.location}}</p>
      </a>
    </ion-list>
  </ion-content>
</ion-view>
