<style>
  .item-text-wrap{
    font-size: 15px;
    color: gray;
  }
  .pane {
        background-color: #4285F4;
    }
    /*.button.button-calm{
      border-color: crimson;
      background-color: crimson;
    }*/
    .button-bar a.button, .button-bar > .button:last-child, .button-bar > .button:first-child{
      border: 0px;
      border-radius: 0px;
    }
</style>
<ion-view title="Movies" ng-show="!error">
  <ion-nav-buttons side="right">
    <i class="icon ion-ios7-home" ng-click="goHome()"></i>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="button-bar button-block">
      <a href="#/app/uending/{{cityId}}" class="button button-calm">Concerts</a>
      <a href="#/app/umovies/{{cityId}}" class="button button-default">Movies</a>
    </div>
    <div class="list">
        
    </div>  
  </ion-content>  
</ion-view>
<ion-view class="pane" ng-show="error">
</ion-view> 