<style>
  .item-text-wrap{
    font-size: 15px;
    color: gray;
  }
  .pane {
        background-color: #4285F4;
  }
  /*.button.button-calm{
    border-color: crimson;
    background-color: crimson;
  }*/
  .button-bar a.button, .button-bar > .button:last-child, .button-bar > .button:first-child{
    border: 0px;
    border-radius: 0px;
  }

</style>
<ion-view title="Movies" ng-show="!error">
  <ion-nav-buttons side="right">
    <i class="icon ion-ios7-home" ng-click="goHome()"></i>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="button-bar button-block">
      <a href="#/app/uending/{{cityId}}" class="button button-default">Ending Soon</a>
      <a href="#/app/umovies/{{cityId}}" class="button button-calm">Movies</a>
    </div>
    <div class="list">
        <a ng-repeat="movie in movies" class="item item-thumbnail-left" href="#/app/dates/{{cityId}}/{{movie.id}}">
          <img src="{{movie.imageurl}}">
          <h2>{{movie.name}}</h2>
          <span class="item-text-wrap">There are 45 tickets available for this movie in your city. Go grab them</span>
        </a>
    </div>  
  </ion-content>  
</ion-view>
<ion-view class="pane" ng-show="error">
</ion-view> 