<style>  
  .count{
    /*position: absolute;
    top: 28px;
    right: 16px;
    max-width: 40px;
    max-height: 40px;*/
    width: 100%;
    border-radius: 4px;
    font-size: 35px;
    color: #fff;
  }
  .item-avatar{
    padding-left: 10px;
    padding-right: 70px;
    border-left: 5px solid rgb(190, 70, 84);
    background-color: rgb(112, 54, 156);
  }
  .item-text-wrap{
    color: white;
  }
  .show-times{
    color: bisque;
  }
  .show-expand{
    margin: 5px;
    margin-top: -4px;
    background-color:#34495e;
    color: white;   
  }
  .name-div{
    background-color: #34495e;
  }
  .count-div{
    background-color: #eb6a5a;
    text-align: center;
  }
  .item{
    padding: 0px;
  }
  .item.row{
    min-height: 75px;
  }
  .small{
    font-size: 12px;
    color: white;
  }
  .showtime{
    color: white;
  }
</style>
<ion-view title="Select Date">
  <ion-nav-buttons side="right">
    <i class="icon ion-ios7-home" ng-click="goHome()"></i>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>      
      <a class="item" ng-repeat="ticket in list">
        <div class="row">
          <div class="col col-80 name-div">
            <span class="item-text-wrap">{{ticket.name}}</span><br>
            <span class="show-times">Ph: {{ticket.phone}}</span><br>
            <span class="show-times">Cost: Rs. {{ticket.price}}</span>
          </div>
          <div class="col col-20 count-div">
            <div class="count">{{ticket.quantity}}</div>
            <div class="small">Tickets</div>
            <div class="small">available</div>
          </div>                        
        </div>           
      </a>      
    </ion-list>
  </ion-content>
</ion-view>


