<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.mycollect.yobun" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Yobun</name>
  <description>
        Buy and sell extra tickets
    </description>
  <author email="vamshi4001@gmail.com" href="http://mycollect.in/">
      VAPK Developers
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="fullscreen" value="false" />
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>